extends layout

block content
  h1= title

  form(id='TableForm', action="/resource/tables", method="POST")
    div.form-group
      label.tableAttr(for='table_color') Table Color 
      input#table_color(type='text', name='table_color')
    div.form-group
      label.tableAttr(for='table_size') Table Size 
      input#table_size(type='text', name='table_size')
    div.form-group
      label.tableAttr(for='table_num') Table number 
      input#table_num(type='number', name='table_num')
    input(type="submit")

  script.
    document.forms['TableForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });